<!DOCTYPE html>
<html lang="en">
<body>
            <div class="col-lg-12">
              <div class="page-header" >
                <div class="row">
                    <div class="image-right col-md-4 ">
                        <img src = "../../image/logo.png" width="150px" height="150px">
                    </div>
                    <div class="manage-text col-md-4">
                      <h1 align="center"> Absensi Mahasiswa</h1>
                        <h2 align ="center" style="margin-top: -10px">  Jurusan Teknik Komputer </h2>
                        <h2 align ="center" style="margin-top: -10px"> Politeknik Negeri Bandung </h2>
                    </div>
                    <div class="col-md-4">   
                    </div>
                </div>
              </div>
              </div>
                <p align="center"> Sistem ini bertujuan untuk membantu proses rekapitulasi absensi mahasiswa Jurusan Teknik Komputer dan Informatika Politeknik Negeri Bandung (JTK) dan pelaporan kepada mahasiswa sebagai media informasi dan konfirmasi dari staf tata usaha (TU) JTK dengan mahasiswa JTK </p>
<div class="row" style="margin-top: 60px">
<div class="col-sm-6" style="text-align:right;">
<div class="card">
    <a (click)="gotoLogin()">
  <img class="card-img-top" src="https://image.flaticon.com/icons/svg/265/265668.svg"  alt="Card image cap" width="35%" height="25%">
    </a>
  <div class="card-block">
    <p class="card-text" align="center">Admin</p>
  </div>
</div>
</div>

<div class="col-sm-6" style="text-align: left;">
<div class="card">
    <a (click)="gotoLogin()">
  <img class="card-img-top" src="https://image.flaticon.com/icons/svg/417/417776.svg" alt="Card image cap" width="35%" height="35%">
  </a>
  <div class="card-block">
    <p class="card-text" align="center">Mahasiswa</p>
  </div>
</div>
</div>
</div>
</body>
</html>